<%= render partial: 'front_partials/page_header', locals: { page: @page} %>

<div class="container">
  <div class="content-area">

    <%= render partial: 'front_partials/services', locals: { all_services: @all_services } %>

    <% if @page.page_content_heading_1.present? %>

      <h2 class="section-heading"><%= @page.page_content_heading_1 %></h2>

    <% end %>

    <%= @page.page_content_body_1.try(:html_safe) %>


    <% if @page.page_content_heading_2.present? %>

      <h2 class="section-heading"><%= @page.page_content_heading_2.html_safe %></h2>

    <% end %>

    <div class="row">
      <div class="col-lg-6">
        <%= render partial: 'front_partials/album_carousel', locals: { albums: @carousels } %>
      </div>
      <div class="col-lg-6">
        <%= @page.page_content_body_2.html_safe %>
      </div>
    </div>

  </div>
</div>