<%= render partial: 'admin_partials/page_heading', locals: { heading: "Редактировать страницу" } %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Редактировать страницу (<%= @page.name %>)
      </div>
      <div class="panel-body">
        <%= form_for [:admin, @page] do |f| %>
          <div class="row">
            <div class="col-lg-6">

              <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :description %>
                <%= f.text_field :description, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :keywords %>
                <%= f.text_field :keywords, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label 'Изображение в шапке' %>
                <%= f.file_field :header_image %>
              </div>

              <div class="form-group">
                <%= f.label 'Текст в шапке' %>
                <%= f.text_field :header_text, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label 'Оглавление страницы 1' %>
                <%= f.text_field :page_content_heading_1, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label 'Содержание страницы 1' %>
                <%= f.trix_editor :page_content_body_1 %>
              </div>

              <div class="form-group">
                <%= f.label 'Оглавление страницы 2' %>
                <%= f.text_field :page_content_heading_2, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label 'Содержание страницы 2' %>
                <%= f.trix_editor :page_content_body_2 %>
              </div>

              <div class="form-group">
                <%= f.label 'Оглавление страницы 3' %>
                <%= f.text_field :page_content_heading_3, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label 'Содержание страницы 3' %>
                <%= f.trix_editor :page_content_body_3 %>
              </div>

            </div>

            <% if @page.name == 'Контакты' %>

              <div class="col-lg-6">

                <h4> Ссылки </h4>

                <hr>

                <div class="form-group">
                  <%= f.label 'Телефон' %>
                  <%= f.text_field :phone_number, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label 'Адрес' %>
                  <%= f.text_field :address, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.text_field :email, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label 'Facebook' %>
                  <%= f.text_field :facebook_url, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label 'Instagram' %>
                  <%= f.text_field :instagram_url, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label 'VK' %>
                  <%= f.text_field :vk_url, class: 'form-control' %>
                </div>

              </div>

            <% end %>

          </div>

          <%= f.submit 'Сохранить', class: 'btn btn-success' %>

          <%= link_to 'Назад', admin_pages_path, class: 'btn btn-default' %>

        <% end %>

      </div>
    </div>
  </div>
</div>
