<%= render partial: 'admin_partials/page_heading', locals: { heading: "Страницы" } %>

<% if @pages.present? %>

    <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Страницы
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable">
            <thead>
              <tr>
                <th>Страница</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody>
              <% @pages.each do |page| %>
                <tr class="odd gradeX">

                  <td><%= page.name %></td>

                  <td style="width: 5%">
                    <div class="row">

                      <div class="col-lg-12 text-center">
                        <%= link_to edit_admin_page_path(page) do %>
                          <%= fa_icon 'pencil' %>
                        <% end %>
                      </div>

                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <!-- /.table-responsive -->
        </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>

<% end %>

