<%= render partial: 'front_partials/page_header', locals: { page: @page} %>

<div class="container">
  <div class="content-area">

    <% if @page.page_content_heading_1.present? %>

      <h2 class="section-heading"><%= @page.page_content_heading_1 %></h2>

    <% end %>

    <%= @page.page_content_body_1.try(:html_safe) %>

    <%= render partial: 'front_partials/album_carousel', locals: { albums: @album } %>

    <%= render partial: 'front_partials/gmaps_studio_address' %>

  </div>
</div>