<div class="form-group">
  <%= f.label 'Категория' %>
  <%= f.select(:category, Service.categories.keys.to_a, {include_blank: 'Выбрать категорию...'}, { :class => 'form-control' }) %>
</div>

<div class="form-group">
  <%= f.label 'Имя' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label 'Цена' %>
  <%= f.text_field :price, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label 'Описание' %>
  <%= f.trix_editor :description %>
</div>

<div class="form-group">
  <%= f.label 'Позиция' %>
  <%= f.select(:position, [1,2,3,4], {include_blank: 'Выбрать позицию...'}, { :class => 'form-control' }) %>
</div>
