<div class="row">
  <div class="col-lg-6">
    <h4>Пакеты услуг</h4>
  </div>
  <div class="col-lg-6">
    <%= link_to 'Добавить пакет услуг', new_admin_service_path, class: 'btn btn-success pull-right new-record-button' %>
  </div>
</div>

<hr>

<% if @services.present? %>

    <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Пакеты услуг
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable">
            <thead>
              <tr>
                <th>Название пакета</th>
                <th>Категория</th>
                <th>Позиция</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody>
              <% @services.each do |service| %>
                <tr class="odd gradeX">

                  <td><%= service.name %></td>
                  <td><%= service.category %></td>
                  <td><%= service.position %></td>

                  <td style="width: 5%">
                    <div class="row">

                      <div class="col-lg-6 text-center">
                        <%= link_to edit_admin_service_path(service) do %>
                          <%= fa_icon 'pencil' %>
                        <% end %>
                      </div>

                      <div class="col-lg-6 text-center">
                        <%= link_to admin_service_path(service), method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <%= fa_icon 'trash' %>
                      <% end %>

                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <!-- /.table-responsive -->
        </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>

<% end %>

