<div class="form-group">
  <%= f.label 'Имя' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label 'Позиция' %>
  <%= f.select(:position, Slide.positions.keys.to_a, {include_blank: 'Выбрать позицию...'}, { :class => 'form-control' }) %>
</div>

<div class="form-group">
  <%= f.label 'Заголовок подписи' %>
  <%= f.text_field :caption_h1, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label 'Подпись' %>
  <%= f.text_area :caption_body, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label 'Изображение' %>
  <%= f.file_field :image %>
</div>
