<div class="row">
  <div class="col-lg-6">
    <h4>Слайдеры</h4>
  </div>
  <div class="col-lg-6">
    <%= link_to 'Добавить новый слайд', new_admin_slide_path, class: 'btn btn-success pull-right new-record-button' %>
  </div>
</div>

<hr>

<% if @homepage_slides.present? %>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Домашняя страница
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable">
            <thead>
              <tr>
                <th>Название</th>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Изображение</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody>
              <% @homepage_slides.each do |slide| %>
                <tr class="odd gradeX">

                  <td><%= slide.name %></td>

                  <td><%= slide.caption_h1 %></td>

                  <td><%= slide.caption_body %></td>

                  <td><%= image_tag slide.image_url(:thumb) %></td>

                  <td style="width: 10%">
                    <div class="row">

                      <div class="col-lg-4 text-center">
                        <%= link_to admin_slide_path(slide) do %>
                          <%= fa_icon 'eye' %>
                        <% end %>
                      </div>


                      <div class="col-lg-4 text-center">
                        <%= link_to edit_admin_slide_path(slide) do %>
                          <%= fa_icon 'pencil' %>
                        <% end %>
                      </div>

                      <div class="col-lg-4 text-center">
                        <%= link_to admin_slide_path(slide), method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <%= fa_icon 'trash' %>
                      <% end %>

                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <!-- /.table-responsive -->
        </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
<% end %>

