<%= render partial: 'admin_partials/page_heading', locals: { heading: 'Новый слайд' } %>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Новый слайд
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <%= form_for [:admin, @slide] do |f| %>

              <%= render partial: 'form', locals: { f: f } %>

              <%= f.submit 'Добавить слайд', class: 'btn btn-success' %>

              <%= link_to 'Назад', admin_slides_path, class: 'btn btn-default' %>

            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
