<%= render partial: 'admin_partials/page_heading', locals: { heading: "Cлайд #{@slide.name}" } %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Cлайд <%= @slide.name %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <dl class="dl-horizontal pull-left">
              <dt> Заголовок описания: </dt>
              <dd> <%= @slide.caption_h1 %> </dd>
              <dt> Описание: </dt>
              <dd> <%= @slide.caption_body %> </dd>
            </dl>
          </div>
          <div class="col-lg-6">
            <%= image_tag @slide.image_url(:medium), class: "img-thumbnail  pull-right" %>
          </div>
          <div class="col-lg-12">
            <%= link_to 'Назад', admin_slides_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>