<div class="form-group">
  <%= f.label 'Отображать?' %>
  <%= f.select :display, Option.get_options('yes_or_no'), {}, { :class => 'form-control' } %>
</div>


<div class="form-group">
  <%= f.label 'Имя' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label 'Категория' %>
  <%= f.select(:category, Album.categories.keys.to_a, {include_blank: 'Выбрать категорию...'}, { :class => 'form-control' }) %>
</div>

<div class="form-group">
  <%= f.label 'Ссылка на видео (youtube)' %>
  <%= f.text_field :video_url, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label 'Отображать как' %>
  <%= f.select(:display_as, Album.display_as.keys.to_a, {include_blank: 'Выбрать вид отображения...'}, { :class => 'form-control' }) %>
</div>

<p class="text-danger">Примечание: на странице должна присутствовать только одна карусель</p>

<hr>

<%= f.fields_for :photos, Photo.new do |p| %>

  <div class="field">
    <%= p.label 'Добавить фотографии' %><br>
    <%= p.file_field :photo, :multiple => true, name: "album[photos_attributes][][image]" %>
  </div>

<% end %>

</br>

<% if @album.id.present? && @album.photos.present? %>
  <%= link_to 'Смотреть фотографии альбома', admin_album_photos_path(@album), class: 'btn btn-primary' %>
  <br>
  <br>
<% end %>