<%= render partial: 'admin_partials/page_heading', locals: { heading: 'Редактировать альбом' } %>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Редактировать альбом
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <%= form_for [:admin, @album], html: { multipart: true } do |f| %>

              <%= render partial: 'form', locals: { f: f } %>

              <%= f.submit 'Редактировать альбом', class: 'btn btn-success' %>

              <%= link_to 'Назад', admin_albums_path, class: 'btn btn-default' %>

            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
