<div class="row">
  <div class="col-lg-6">
    <h4>Альбомы</h4>
  </div>
  <div class="col-lg-6">
    <%= link_to 'Добавить новый альбом', new_admin_album_path, class: 'btn btn-success pull-right new-record-button' %>
  </div>
</div>

<hr>

<% if @albums.present? %>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Альбомы
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable">
            <thead>
              <tr>
                <th>Название</th>
                <th>Категория</th>
                <th>Отображать?</th>
                <th>Отображать как</th>
                <th>Кол-во фотографий</th>
                <th>Обложка альбома</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody>
              <% @albums.each do |album| %>
                <tr class="odd gradeX">

                  <td><%= album.name %></td>

                  <td><%= album.category %></td>

                  <td><%= album.display ? 'Да' : 'Нет' %></td>

                  <td><%= album.display_as %></td>

                  <td>Фотографий: <%= album.photos.count %> <%= link_to '(смотреть)', admin_album_photos_path(album) %> </td>

                  <td> <%= album.cover ? image_tag(album.cover.image_url(:thumb)) : 'Нет обложки' %> </td>

                  <td style="width: 5%">
                    <div class="row">

                      <div class="col-lg-6 text-center">
                        <%= link_to edit_admin_album_path(album) do %>
                          <%= fa_icon 'pencil' %>
                        <% end %>
                      </div>

                      <div class="col-lg-6 text-center">
                        <%= link_to admin_album_path(album), method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <%= fa_icon 'trash' %>
                      <% end %>

                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <!-- /.table-responsive -->
        </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
<% end %>

