<div class="vertical-center">
  <div class="album-photos">
    <% album.photos.each do |photo| %>
      <div class="album-photo">
        <%= link_to photo.image_url(:album_photo), data: { lightbox: "album-set-#{album.id}" } do %>
          <%= image_tag photo.image_url(:album_photo), alt: photo.alt, title: photo.title, class: 'album-photo photo-#{album.id} img-responsive' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if album.video_url.present? %>

    <div class="album-video">
      <div class="embeded-video-box">
        <iframe class="embeded-video" src="<%= album.video_url %>"></iframe>
      </div>
    </div>

  <% end %>

</div>
