<div class="row">

  <% albums.each do |album| %>

    <div class="col-lg-4 col-sm-6 album-col">
      <div class="album-cover">
        <%= link_to controller: controller_name, action: 'show', id: album.id do %>
          <%= image_tag album.cover.image_url(:album_cover), alt: album.cover.alt.present? ? album.cover.alt : '', height: '360px', width: '360px', class: 'img-responsive' %>
          <div class="overlay">
            <div class="album-text text-center"><%= album.name %></div>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

</div>