<%= render partial: 'front_partials/page_header', locals: { page: page} %>

<div class="container">
  <div class="content-area">

    <%= render partial: 'front_partials/album_carousel', locals: { albums: carousels } %>

    <%= render partial: 'portfolio/portfolio_partials/albums', locals: { albums: albums } %>

    <% if page.page_content_heading_1.present? %>

      <h2 class="section-heading"><%= @page.page_content_heading_1 %></h2>

    <% end %>

    <div class="page-content">

    </div>
    <%= page.page_content_body_1.try(:html_safe) %>

  </div>
</div>
