<header>

  <div class="page-cover" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url(<%= album.cover.image_url %>);">
    <div class="page-cover-text-box">
      <h1> <%= album.name %> </h1>
    </div>
  </div>

</header>

<div class="container">
  <div class="content-area">
    <%= render partial: 'portfolio/portfolio_partials/album_photos', locals: { album: album } %>
  </div>
</div>
