<div class="form-group">
  <%= f.label 'Название' %>
  <%= f.text_field :name, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :alt %>
  <%= f.text_field :alt, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label 'Изображение' %>
  <%= f.file_field :image %>
</div>
