<div class="row">
  <div class="col-lg-6">
    <h4>Фотографии (<%= @album.name %>)</h4>
  </div>
  <div class="col-lg-6">
    <%= link_to 'Добавить фотографии', edit_admin_album_path(@album), class: 'btn btn-success pull-right new-record-button' %>
  </div>
</div>

<hr>

<% if @photos.present? %>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Фотографии (<%= @album.name %>)
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable">
            <thead>
              <tr>
                <th>Название</th>
                <th>Alt</th>
                <th>Title</th>
                <th>Обложка альбома</th>
                <th>Фотография</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody>
              <% @photos.each do |photo| %>
                <tr class="odd gradeX">

                  <td> <%= photo.name %> </td>

                  <td> <%= photo.alt %> </td>

                  <td> <%= photo.title %></td>
                  <% if photo.album_cover %>
                    <td> да </td>
                  <% else %>
                    <td> нет <%= link_to '(сделать обложкой)', admin_album_photo_make_as_album_cover_path(photo.album, photo), data: { id: photo.id, album_id: photo.album.id }, remote: true, class: 'make_as_album_cover' %> </td>
                  <% end %>

                  <td> <%= image_tag photo.image_url(:thumb) %> </td>

                  <td style="width: 5%">
                    <div class="row">

                      <div class="col-lg-6 text-center">
                        <%= link_to edit_admin_album_photo_path(photo.album, photo) do %>
                          <%= fa_icon 'pencil' %>
                        <% end %>
                      </div>

                      <div class="col-lg-6 text-center">
                        <%= link_to admin_album_photo_path(photo.album, photo), method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <%= fa_icon 'trash' %>
                      <% end %>

                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <!-- /.table-responsive -->
        </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
<% end %>

