<% if feedbacks.present? %>

    <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Отзывы
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable">
            <thead>
              <tr>
                <th>Имя</th>
                <th>Отзыв</th>
                <th>Фото</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody>
              <% feedbacks.each do |fb| %>
                <tr class="odd gradeX">

                  <td><%= fb.customer_name %></td>
                  <td><%= fb.body %></td>
                  <td>
                    <% fb.photos.each do |fb_photo| %>
                      <%= image_tag fb_photo.image_url(:feedback_photo) %>
                    <% end %>
                  </td>

                  <td style="width: 7%">
                    <div class="row">

                      <% if action_name == 'index' %>

                        <div class="col-lg-4 text-center">
                          <%= link_to admin_feedback_publish_path(fb.id), remote: true, data: { confirm: 'Are you sure?' }, class: 'publish' do %>
                            <%= fa_icon 'check' %>
                          <% end %>
                        </div>

                      <% end %>

                      <div class="col-lg-4 text-center">
                        <%= link_to edit_admin_feedback_path(fb) do %>
                          <%= fa_icon 'pencil' %>
                        <% end %>
                      </div>

                      <div class="col-lg-4 text-center">
                        <%= link_to admin_feedback_path(fb), method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <%= fa_icon 'trash' %>
                      <% end %>

                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="digg_pagination">
            <%= will_paginate feedbacks, :previous_label => '«', :next_label => '»', :container => false %>
          </div>
          <!-- /.table-responsive -->
        </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>

<% end %>