<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Новый альбом
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <%= form_for [:admin, @feedback] do |f| %>

              <div class="form-group">
                <%= f.label 'Имя'%>
                <%= f.text_field :customer_name, class: 'form-control contact-form-field' %>
              </div>


              <div class="form-group">
                <%= f.label 'Отзыв'%>
                <%= f.text_area :body, rows: 5, class: 'form-control contact-form-field' %>
              </div>

              <%= f.fields_for :photos, Photo.new do |p| %>

                <div class="field">
                  <%= p.label 'Добавить фотографии (опционально)' %><br>
                  <%= p.file_field :photo, :multiple => true, name: "feedback[photos_attributes][][image]" %>
                </div>

              <% end %>

              <br>

              <%= button_tag "Сохранить", class: "btn btn-success" %>

            <% end %>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
