<div class="row">
  <div class="col-lg-6">
    <h4>Отзывы</h4>
  </div>
  <div class="col-lg-6">
    <%= link_to 'Добавить отзыв', new_admin_feedback_path, class: 'btn btn-success pull-right new-record-button' %>
  </div>
</div>

<hr>

<ul class="nav nav-tabs">
  <li class="active not-published-tab"><a href="#">Не опубликованные</a></li>
  <li class="published-tab">
    <%= link_to 'Опубликованные', admin_published_feedbacks_path %>
  </li>
</ul>

<br>

<div class="not-published-feedbacks">
  <%= render partial: 'feedbacks_grid', locals: { feedbacks: @not_published_feedbacks} %>
</div>
