<div class="row">
  <div class="col-lg-6">
    <h4>Отзывы</h4>
  </div>
  <div class="col-lg-6">
    <%= link_to 'Добавить отзыв', new_admin_feedback_path, class: 'btn btn-success pull-right new-record-button' %>
  </div>
</div>

<hr>

<ul class="nav nav-tabs">
  <li class="not-published-tab">
    <%= link_to 'Не опубликованные', admin_feedbacks_path %>
  </li>
  <li class="active published-tab"><a href="#">Опубликованные</a>
  </li>
</ul>

<br>

<div class="published-feedbacks">
  <%= render partial: 'feedbacks_grid', locals: { feedbacks: @published_feedbacks} %>
</div>
