<%= render 'front_partials/carousel' %>

<div class="container">
  <div class="content-area">

    <% if @page.page_content_heading_1.present? %>

      <h1 class="first-heading text-center"><%= @page.page_content_heading_1 %></h1>

    <% end %>

    <div class="row welcome-text">
      <div class="col-lg-4 col-md-4 col-sm-4">

        <%= image_tag 'avatar', class: 'avatar img-responsive', alt: 'фотограф новорожденных и детей до года Даша Катасонова', title: 'фотограф новорожденных и детей до года Даша Катасонова' %>

      </div>

      <div class="col-lg-8 col-md-8 col-sm-8">

        <%= @page.page_content_body_1.try(:html_safe) %>

      </div>
    </div>

    <hr>

    <div class="embeded-video-box">
      <iframe class="embeded-video" src="https://www.youtube.com/embed/Jcz1letVLfM"></iframe>
    </div>

    <hr>

    <!-- my works -->

    <% if @page.page_content_heading_2.present? %>

      <h2 class="section-heading"><%= @page.page_content_heading_2 %></h2>

    <% end %>

    <h2 class="section-heading">Мои работы</h2>

    <div class="my-galleries">
      <div class="row">

        <% if @newborns_gallery_photo.present? %>

          <div class="homepage-album col-lg-3 col-sm-3 col-xs-6 album-col">
            <%= link_to portfolio_pregnancy_index_path do %>
              <%= image_tag @pregnancy_gallery_photo.image_url(:album_cover), alt: 'Даша Катасонова фотосессии беременности Харьков.', height: '360px', width: '360px', class: 'img-responsive gallery-album' %>
              <div class="overlay">
                <div class="album-text text-center">Беременность</div>
              </div>
            <% end %>
          </div>

        <% end %>

        <% if @newborns_gallery_photo.present? %>

          <div class="homepage-album col-lg-3 col-sm-3 col-xs-6 album-col">
            <%= link_to portfolio_newborns_path do %>
              <%= image_tag @newborns_gallery_photo.image_url(:album_cover), alt: 'Даша Катасонова фотограф новорожденных, фотосессии новорожденных Харьков.', height: '360px', width: '360px', class: 'img-responsive gallery-album' %>
              <div class="overlay">
                <div class="album-text text-center">Новорожденные</div>
              </div>
            <% end %>
          </div>

        <% end %>

        <% if @kids_gallery_photo.present? %>

          <div class="homepage-album col-lg-3 col-sm-3 col-xs-6 album-col">
            <%= link_to portfolio_kids_path do %>
              <%= image_tag @kids_gallery_photo.image_url(:album_cover), alt: 'Даша Катасонова детские фотосессии, детский фотограф Харьков.', height: '360px', width: '360px', class: 'img-responsive gallery-album' %>
              <div class="overlay">
                <div class="album-text text-center">Дети до года</div>
              </div>
            <% end %>
          </div>

        <% end %>

        <% if @families_gallery_photo.present? %>

          <div class="homepage-album col-lg-3 col-sm-3 col-xs-6 album-col">
            <%= link_to portfolio_families_path do %>
              <%= image_tag @families_gallery_photo.image_url(:album_cover), height: '360px', width: '360px', alt: 'Даша Катасонова семейные фотосессии, семейный фотограф Харьков.', class: 'img-responsive gallery-album' %>
              <div class="overlay">
                <div class="album-text text-center">Семьи</div>
              </div>
            <% end %>
          </div>

        <% end %>

      </div>
    </div>

    <h2 class="text-center">Пакеты услуг</h2>

    <%= render partial: 'front_partials/services', locals: { all_services: @all_services } %>

    <% if @instagram_photos.present? %>

      <h2 class="section-heading">Я в Instagram</h2>

      <ul class="photostream">

        <% @instagram_photos.each do |photo| %>

          <li>
            <%= link_to photo.link, target: '_blank' do %>
              <%= image_tag photo.image_url, alt: 'Даша Катасонова детский и семейный фотограф Харьков, фотосессии новорожденных. Мой инстаграм', class: 'img-responsive' %>
            <% end %>
          </li>

        <% end %>

      </ul>

    <% end %>

  </div>
</div>
