<%= render partial: 'front_partials/page_header', locals: { page: @page} %>

<div class='container'>
  <div class='content-area'>

    <div class="row">

      <div class="col-lg-8 contact-form">

        <h2 class="section-heading">Оставить заявку или задать вопрос</h2>

        <%= render partial: 'front_partials/contact_form' %>

      </div>

      <div class="col-lg-4">

        <h2 class="section-heading">Контакты</h2>

        <div class="text-center contact-block">

          <p class="text-muted">Даша Катасонова</p>

          <div class="contact-row">

            <a href="tel:<%= @page.phone_number %>" class="contacts phone"><%= @page.phone_number %></a>

          </div>

          <div class="contact-row">
            <a href="mailto: <%= @page.email %> " class="contacts"><%= @page.email %></a>
          </div>

          <hr>

          <p class="text-muted">Адрес студии</p>

          <div class="contact-row">
            <a class="contacts"><%= @page.address %></a>
          </div>

        </div>

      </div>

    </div>

    <%= render partial: 'front_partials/gmaps_studio_address' %>

  </div>
</div>