<div class="container">
  <div class="login">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h2>Admin panel</h2>
    <hr>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-inner'}) do |f| %>
      <%= f.email_field :email, autofocus: true, placeholder: 'Enter email', class: 'form-control email' %>

      <%= f.password_field :password, autocomplete: "off", placeholder: 'Enter password', class: 'form-control password' %>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-lg btn-success btn-block' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
