<% @published_feedbacks.each do |fb| %>

  <div class="col-lg-8 col-centered">

    <div class="row">

      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <% if fb.photos.any? %>
          <%= image_tag fb.photos.first.image_url(:feedback_photo), class: 'img img-circle img-responcive feedback-avatar' %>
        <% else %>
          <%= image_tag 'default-user-image', class: 'img img-circle img-responcive feedback-avatar' %>
        <% end %>
      </div>

      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <p><strong><%= fb.customer_name %></strong></p>
        <p class="text-muted feedback-date"><%= fb.created_at.strftime("%e.%m.%Y") %></p>
      </div>

      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 pull-right">
        <p><%= simple_format(fb.body) %></p>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
        <div class="row feedback-photos">

          <% if fb.photos.count > 1 %>
            <% fb.photos.each_with_index do |photo, index| %>
              <% next if index > 3 %>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <%= link_to photo.image_url(:album_photo), data: { lightbox: "photo-set-#{fb.id}" } do %>
                  <%= image_tag photo.image_url(:feedback_photo), alt: photo.alt, title: photo.title, class: "feedback-photo photo-#{fb.id} img-responsive" %>
                <% end %>
              </div>
            <% end %>
          <% end %>

        </div>

      </div>

    </div>

    <hr>

  </div>

<% end %>

<div class="col-lg-8 col-centered">

  <div class="digg_pagination">
    <%= will_paginate @published_feedbacks, :previous_label => '«', :next_label => '»', :container => false %>
  </div>

</div>
