<%= render partial: 'front_partials/page_header', locals: { page: @page} %>

<div class='container'>
  <div class='content-area'>

    <div class="row">

      <!-- feedbacks begin -->

      <div id="feedbacks">
        <%= render partial: 'feedbacks' %>
      </div>

      <!-- feedbacks end -->

      <div class="col-lg-8 col-centered">

        <h2 class="section-heading">Оставить отзыв</h2>

        <%= render partial: 'front_partials/feedback_form' %>

      </div>

    </div>

  </div>
</div>

<script>
   $(function(){
     $('.digg_pagination a').attr('data-remote', 'true')
   });
 </script>