<% albums.each do |album| %>

  <div class="slider-for">
    <% album.photos.each do |photo| %>
      <div>
        <%= image_tag photo.image_url(:album_photo), alt: photo.alt.present? ? photo.alt : '', class: 'img-responsive' %>
      </div>
    <% end %>
  </div>

  <div class="slider-nav">
    <% album.photos.each do |photo| %>
      <div>
        <%= image_tag photo.image_url(:carousel_preview), alt: photo.alt.present? ? photo.alt : '', class: 'img-responsive' %>
      </div>
    <% end %>
  </div>

<% end %>