<% if Rails.env == 'production' %>

  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['google_analytics_key'] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111627506-1');
  </script>

<% end %>
