<header id="slider" class="carousel slide carousel-fade">

  <ol class="carousel-indicators">

    <% @slides.each_with_index do |_, index| %>

      <li data-target="#slider" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : nil %>" ></li>

    <% end %>

  </ol>

  <div class="carousel-inner">

    <% @slides.each_with_index do |slide, index| %>

       <div class="item <%= index == 0 ? 'active' : nil %>">
          <div class="fill" style="background-image:url(<%= slide.image_url %>);"></div>
          <div class="carousel-caption">
             <h2> <%= slide.caption_h1 %> </h2>
             <p class="lead"> <%= slide.caption_body %> </p>
          </div>
       </div>

    <% end %>

  </div>

   <!-- Controls -->

  <a class="left carousel-control" href="#slider" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#slider" data-slide="next">
    <span class="icon-next"></span>
  </a>

</header>
