<div id="flash">
  <%= render partial: 'front_partials/flash_messages' %>
</div>

<%= form_for :contact_form, remote: true, html: { id: 'contact_form' } do |f| %>

  <div class="form-group">
    <%= f.label 'Имя'%>
    <%= f.text_field :name, :autofocus => true, class: 'form-control contact-form-field' %>
  </div>


  <div class="form-group">
    <%= f.label 'Email'%>
    <%= f.email_field :email, class: 'form-control contact-form-field' %>
  </div>

  <% if @chosen_service.present? %>

    <div class="form-group">
      <%= f.label 'Услуга'%>
      <%= f.text_field :service, value: @chosen_service, class: 'form-control contact-form-field' %>
    </div>

  <% else %>

    <div class="form-group">
      <%= f.label 'Услуга'%>
      <%= f.text_field :service, class: 'form-control contact-form-field' %>
    </div>

  <% end %>

  <div class="form-group">
    <%= f.label 'Сообщение' %>
    <%= f.text_area :message, rows: 5, class: 'form-control contact-form-field' %>
  </div>

  <div class= "hidden">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
  </div>

  <%= button_tag "отправить", class: "button send-button", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Отправляем...".html_safe %>

<% end %>
