<div id="flash">
  <%= render partial: 'front_partials/flash_messages' %>
</div>

<%= form_for :feedback, remote: true, html: { id: 'feedback_form' } do |f| %>

  <div class="form-group">
    <%= f.label 'Имя'%>
    <%= f.text_field :customer_name, class: 'form-control contact-form-field' %>
  </div>


  <div class="form-group">
    <%= f.label 'Отзыв'%>
    <%= f.text_area :body, rows: 5, class: 'form-control contact-form-field' %>
  </div>

  <%= f.fields_for :photos, Photo.new do |p| %>

    <div class="field">
      <%= p.label 'Добавить фотографии (опционально)' %><br>
      <p class="text-success">Пожалуйста, добавьте несколько снимков с нашей с Вами съемки.</p>
      <%= p.file_field :photo, :multiple => true, name: "feedback[photos_attributes][][image]" %>
    </div>

  <% end %>

  <div class="section">
    <%= recaptcha_tags hl: 'ru' %>
  </div>

  <%= button_tag "отправить", class: "button send-button", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Отправляем...".html_safe %>

<% end %>
