<div class="container">
  <hr>
  <div class="row text-center">
  </div>
  <footer class="footer">
    <div class="row">
      <div class="col-md-4 footer-brand animated fadeInLeft text-center">
        <%= link_to home_index_path do %>
          <%= image_tag 'DK_logo_small', class: 'footer-logo' %>
        <% end %>
        <p></p>
        <p>© 2017 - <%= DateTime.now.strftime("%Y") %> Dasha Katasonova</p>
      </div>
      <div class="col-md-5 footer-nav animated fadeInUp">
        <h4>Меню —</h4>
        <div class="col-md-8">
          <ul class="pages">
            <li><a href="/portfolio/newborns">Новорожденные</a></li>
            <li><a href="/portfolio/kids">Дети до года</a></li>
            <li><a href="/portfolio/pregnancy">Беременность</a></li>
            <li><a href="/portfolio/families">Семьи</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list">
            <li><a href="/services">Услуги</a></li>
            <li><a href="/studio">Mimi studio</a></li>
            <li><a href="/feedbacks">Отзывы</a></li>
            <li><a href="/contacts">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 footer-social animated fadeInDown text-center">
        <h4>Я в соцсетях</h4>
        <ul class="list-inline">
          <li><a href="https://www.instagram.com/dasha__katasonova/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/katasonovaphoto/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://vk.com/katasonova_ph" target="_blank"><i class="fa fa-vk"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
