<h2 class="section-heading">Адрес студии</h2>

<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=mimi%20photostudio%20kharkiv&key=<%= ENV["google_embed_api_key"] %>&language=ru&zoom=17" allowfullscreen></iframe>
