<nav class="navbar navbar-expand-lg navbar-light">

  <div class="logo-wrapper">
    <div class="logo-container">
      <div class="logo-align">
        <%= link_to home_index_path do %>
          <%= image_tag 'DK_logo_small' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse", id="navigationbar">
      <ul class="nav navbar-nav">

        <li>
          <%= link_to 'главная', root_path %>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">портфолио</a>
          <ul class="dropdown-menu">
            <li><%= link_to 'беременность', portfolio_pregnancy_index_path %> </li>
            <hr>
            <li><%= link_to 'новорожденные', portfolio_newborns_path %> </li>
            <hr>
            <li><%= link_to 'дети до года', portfolio_kids_path %> </li>
            <hr>
            <li><%= link_to 'семьи', portfolio_families_path %> </li>
          </ul>
        </li>

        <li><%= link_to 'услуги', services_path %> </li>

        <li><%= link_to 'mimi studio', studio_index_path %> </li>

        <li><%= link_to 'отзывы', feedbacks_path %> </li>

        <li><%= link_to 'контакты', contacts_path %> </li>

      </ul>

      <ul class="nav navbar-nav navbar-right social">
        <li><a href="https://www.instagram.com/dasha__katasonova/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/katasonovaphoto/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://vk.com/katasonova_ph" target="_blank"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
