<header>

  <div class="page-cover" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url(<%= page.header_image_url %>);">
    <div class="page-cover-text-box">
      <h1> <%= page.header_text %> </h1>
    </div>
  </div>

</header>