<div class="services-sub-menu text-center">

  <ul>

    <li class='active' data-target='cat-0'>
      Беременность
    </li>

    <li data-target='cat-1'>
      Новорожденные
    </li>

    <li data-target='cat-2'>
      Семьи
    </li>

  </ul>

</div>
