<% if services.first.try(:category) == 'Беременность' %>
  <div class="row active" id="cat-0">
<% else %>
  <div class="row" id="cat-<%= Service.categories["#{services.first.try(:category)}"] %>">
<% end %>

  <% services.each do |service| %>

    <% if services.count.odd? %>
      <div class="col-lg-4 col-md-4 col-sm-4 service-col">
    <% else %>
      <div class="col-lg-6 col-md-6 col-sm-6 service-col">
    <% end %>

      <div class="service-header">
        <div class="header-text text-center">
          <%= service.name %>
        </div>
      </div>

      <div class="service">

        <%= service.description.html_safe %>

        <div class="order-button-wrapper text-center">

          <div class="service-price"><%= service.price %> грн.</div>

          <%= render partial: 'front_partials/services_order_button' %>

        </div>

      </div>

    </div>

  <% end %>

</div>
