<%= render partial: 'front_partials/services_menu' %>

<% if all_services.present? %>

  <div class="services">
    <% @all_services.each do |services| %>
      <%= render partial: 'front_partials/services_list', locals: { services: services } %>
    <% end %>
  </div>

  <%= hidden_field :services, :chosen_service %>

<% end %>