@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "metis-menu";
@import "sb-admin-2";
@import "trix";
@import "dataTables.bootstrap";
@import "dataTables.responsive";

@import 'admin/feedbacks';

body {
  background-color: #fff;
}
.login {
  margin-top: 25px !important;
  padding: 5px;
  width: auto;
  min-width: 320px;
  max-width: 400px;
  height: 400px;
  background-color: #f3f3f3;
  margin:0 auto;
  border-radius: 10px;
  border: 1px solid #c5c5c5;
  text-align: center;
}
.login-inner {
  margin:0 auto;
  max-width: 380px;
  width: auto;
}
.login>h4 {
  font-size: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.email {
  margin-bottom: 5px;
}
.password {
  margin-bottom: 5px;
}
.submit {
  margin-top: 5px;
}

.new-record-button {
  margin-top: 10px
}
