@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "front_partials/navigation_bar";
@import "front_partials/footer";
@import "front_partials/carousel";
@import 'slick';
@import 'slick-theme';
@import 'lightbox';

@import "home";
@import "portfolio";
@import "services";
@import "contacts";

body {
  background-color: #fafafa;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 100;
}

a {
  text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 1em 0;
    padding: 0;
}

button {
  border-radius: 0;
}

h2.section-heading {
  font-size: 18px;
  margin-top: 25px;
}

.gallery-album {
  width: 100%;
}

.photostream {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.photostream li {
    width: 20%;
    margin: 0;
    display: inline;
    float: left;
    line-height: 0;
}

.photostream li img {
  object-fit: cover;
  width:228px;
  height:228px;
}

@media (max-width: 1199px) {
  .photostream li img {
    width: 189px;
    height: 189px;
  }
}

@media (max-width: 991px) {
  .photostream li img {
    width: 144px;
    height: 144px;
  }

  .footer-brand, .footer-nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .avatar {
    padding-bottom: 15px;
    margin: auto;
  }
}

.loading-icon {
  position:fixed;
  top:0;
  right:0px;
  width:100%;
  height:100%;
  background-color: rgba(255,255,255, 0.7);
  background-image: url(asset_path('loading-icon.gif'));
  background-repeat:no-repeat;
  background-position:center;
  z-index:101;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.section-heading {
  background-color:#efefef;
  padding: 15px;
}

.alert {
  border-radius: 0;
}

.content-area {
  margin-top: 30px;
  margin-bottom: 30px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  background-color: #fff;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #000;
  padding: 12px 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input:focus {
  outline: none;
}

.button:hover, .scrollToTop:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}

.order-button {
  font-weight: bold;
}

.order-button-wrapper {
  height: 100px;
  padding: 15px 0px 15px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.scrollToTop {
  background-color: #FFF;
  margin: 0;
  position: fixed;
  bottom: 8.5%;
  right: 2%;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 12px 17px;
  i {
    font-size: 16px;
    font-weight: bold;
  }
}

a.scrollToTop {
  text-decoration: none;
  color: #000;
}

.page-cover {
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.page-cover-text-box {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.page-cover-text-box > h1 {
  border: 1px solid white;
  padding: 15px;
  margin: 0;
  font-size: 28px;
}

.vertical-center .row {
  align-items: center;
  display: flex;
}

.vertical-center > .container {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.content-area .vertical-center {
  height:100%;
  width:100%;
  text-align: center;
}

.vertical-center:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.vertical-center h3 {
  margin: 0;
}

.first-heading {
  margin-bottom: 25px;
}

.page-content {
  margin-top: 25px;
  margin-bottom: 25px;
}

.embeded-video {
  height: 500px;
  width: 100%;
  border: none;
}

.embeded-video-box {
  max-width: 100%; /* you have to have a size or this method doesn't work */
  max-height: 500px;
  top: 0; right: 0; /* confuse it i guess */
  bottom: 0; left: 0;
  margin: auto; /* make em equal */
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

@import "font-awesome";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "front_partials/navigation_bar";
 @import "front_partials/footer";
 @import "front_partials/carousel";
 @import 'slick';
 @import 'slick-theme';
 @import "portfolio";
 @import "services";
 @import "contacts";
 body {
     background-color: #fafafa;
     font-family: 'Roboto Mono', sans-serif;
     font-weight: 100;
}
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
     font-weight: 100;
}
 a {
     text-decoration: none;
}
 hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #efefef;
     margin: 1em 0;
     padding: 0;
}
 button {
     border-radius: 0;
}
 h2.section-heading {
     font-size: 18px;
     margin-top: 25px;
}
 .gallery-album {
     width: 100%;
}
 .photostream {
     list-style-type: none;
     margin: 0;
     padding: 0;
     border: 0;
     font-weight: inherit;
     font-style: inherit;
     font-size: 100%;
     font-family: inherit;
     vertical-align: baseline;
}
 .photostream li {
     width: 20%;
     margin: 0;
     display: inline;
     float: left;
     line-height: 0;
}
 .photostream li img {
     object-fit: cover;
     width:228px;
     height:228px;
}
 @media (max-width: 1199px) {
     .photostream li img {
         width: 189px;
         height: 189px;
    }
}
 @media (max-width: 991px) {
     .photostream li img {
         width: 144px;
         height: 144px;
    }
}
 @media (max-width: 767px) {
     .avatar {
         padding-bottom: 15px;
    }
}
 .loading-icon {
     position:fixed;
     top:0;
     right:0px;
     width:100%;
     height:100%;
     background-color: rgba(255,255,255, 0.7);
     background-image: url(asset_path('loading-icon.gif'));
     background-repeat:no-repeat;
     background-position:center;
     z-index:101;
     filter: alpha(opacity=40);
    /* For IE8 and earlier */
}
 .section-heading {
     background-color:#efefef;
     padding: 15px;
}
 .alert {
     border-radius: 0;
}
 .content-area {
     margin-top: 30px;
     margin-bottom: 30px;
}
 .centered {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
 .button {
     background-color: #fff;
     text-transform: uppercase;
     color: #000;
     border: 1px solid #000;
     padding: 12px 15px;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
}
 input:focus {
     outline: none;
}
 .button:hover, .scrollToTop:hover {
     color: #fff;
     background-color: #000;
     text-decoration: none;
}
 .order-button {
     font-weight: bold;
}
 .scrollToTop {
     background-color: #FFF;
     margin: 0;
     position: fixed;
     bottom: 8.5%;
     right: 2%;
     z-index: 100;
     display: none;
     text-decoration: none;
     color: #000;
     border: 1px solid #000;
     padding: 12px 17px;
     i {
         font-size: 16px;
         font-weight: bold;
    }
}
 a.scrollToTop {
     text-decoration: none;
     color: #000;
}
 .page-cover {
     height: 250px;
     background-repeat: no-repeat;
     background-position: center center;
     -webkit-background-size: cover;
     background-size: cover;
     position: relative;
}
 .page-cover-text-box {
     position: relative;
     float: left;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     text-align: center;
}
 .page-cover-text-box > h1 {
     border: 1px solid white;
     padding: 15px;
     margin: 0;
     font-size: 28px;
}
 .vertical-center .row {
     align-items: center;
     display: flex;
}
 .vertical-center > .container {
     max-width: 100%;
     display: inline-block;
     vertical-align: middle;
}
 .content-area .vertical-center {
     height:100%;
     width:100%;
     text-align: center;
}
 .vertical-center:before {
     content: ' ';
     display: inline-block;
     vertical-align: middle;
     height: 100%;
}
 .vertical-center h3 {
     margin: 0;
}
 .first-heading {
     margin-bottom: 25px;
}
 .page-content {
     margin-top: 25px;
     margin-bottom: 25px;
}
 .embeded-video {
     height: 500px;
     width: 100%;
     border: none;
}

.album-video .embeded-video-box .embeded-video {
  height: 700px;
}

.album-video .embeded-video-box {
  max-height: 700px;
}

 .embeded-video-box {
     max-width: 100%;
    /* you have to have a size or this method doesn't work */
     max-height: 500px;
     top: 0;
     right: 0;
    /* confuse it i guess */
     bottom: 0;
     left: 0;
     margin: auto;
    /* make em equal */
     margin-top: 30px;
     margin-bottom: 30px;
}
 .col-centered{
     float: none;
     margin: 0 auto;
}

.digg_pagination {
     background: #fafafa;
     cursor: default;
     margin: auto;
     text-align: center;
    /* self-clearing method: */
}
 .digg_pagination a, .digg_pagination span, .digg_pagination em {
     padding: 0.2em 0.5em;
     display: inline-block;
     margin-right: 1px;
}
 .digg_pagination .disabled {
     color: #999999;
     border: 1px solid #dddddd;
}
 .digg_pagination .current {
     font-style: normal;
     font-weight: bold;
     background: #000;
     color: white;
     border: 1px solid #000;
}
 .digg_pagination a {
     text-decoration: none;
     color: #000;
     border: 1px solid #000;
}
 .digg_pagination a:hover, .digg_pagination a:focus {
     color: #000033;
     border-color: #000033;
}
 .digg_pagination .page_info {
     background: #2e6ab1;
     color: white;
     padding: 0.4em 0.6em;
     width: 22em;
     margin-bottom: 0.3em;
     text-align: center;
}
 .digg_pagination .page_info b {
     color: #000033;
     background: #6aa6ed;
     padding: 0.1em 0.25em;
}
 .digg_pagination:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}
 * html .digg_pagination {
     height: 1%;
}
 *:first-child + html .digg_pagination {
     overflow: hidden;
}
 .apple_pagination {
     background: #f1f1f1;
     border: 1px solid #e5e5e5;
     text-align: center;
     padding: 1em;
     cursor: default;
}
 .apple_pagination a, .apple_pagination span {
     padding: 0.2em 0.3em;
}
 .apple_pagination .disabled {
     color: #aaaaaa;
}
 .apple_pagination .current {
     font-style: normal;
     font-weight: bold;
     background-color: #000;
     display: inline-block;
     width: 1.4em;
     height: 1.4em;
     line-height: 1.5;
     -moz-border-radius: 1em;
     -webkit-border-radius: 1em;
     border-radius: 1em;
     text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
 .apple_pagination a {
     text-decoration: none;
     color: black;
}
 .apple_pagination a:hover, .apple_pagination a:focus {
     text-decoration: underline;
}
 .flickr_pagination {
     text-align: center;
     padding: 0.3em;
     cursor: default;
}
 .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
     padding: 0.2em 0.5em;
}
 .flickr_pagination .disabled {
     color: #aaaaaa;
}
 .flickr_pagination .current {
     font-style: normal;
     font-weight: bold;
     color: #ff0084;
}
 .flickr_pagination a {
     border: 1px solid #dddddd;
     color: #0063dc;
     text-decoration: none;
}
 .flickr_pagination a:hover, .flickr_pagination a:focus {
     border-color: #003366;
     background: #0063dc;
     color: white;
}
 .flickr_pagination .page_info {
     color: #aaaaaa;
     padding-top: 0.8em;
}
 .flickr_pagination .previous_page, .flickr_pagination .next_page {
     border-width: 2px;
}
 .flickr_pagination .previous_page {
     margin-right: 1em;
}
 .flickr_pagination .next_page {
     margin-left: 1em;
}

.feedback-avatar {
  border: 1px solid #efefef;
  width: 100px;
}

.centered-div {
  width: 50%;
  margin: 0 auto;
}

.section {
  padding: 20px 0 20px 0
}

@media (max-width: 683px) {
  .feedback-avatar {
    width: 50px;
  }
}

.feedback-date {
  line-height: 0px;
  font-size: 12px;
}

.feedback-photo {
  margin-bottom: 30px;
  width: 100%;
}

.feedback-photos {
  margin-top: 20px;
}

.welcome-text {
  margin-bottom: 30px;
}

.container-fluid>.navbar-collapse {
  margin-top: 10px;
}
