.send-button {
  width: 100%;
  margin-top: 15px;
}

.contact-form-field {
  border-radius: 0;
  border: 1px solid grey;
}

.contacts {
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.contacts:hover {
  text-decoration: none;
}

.contact-row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact-block {
  padding-top: 15px;
}