.homepage-album .overlay {
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 1199px) {
  .homepage-album .album-text {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .homepage-album .album-text {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .homepage-album .album-text {
    font-size: 10px;
  }
}
