.album-cover {
  position: relative;
}

.album-cover img {
  display: block;
  width: 100%;
  height: auto;
}

.album-col {
  margin-bottom: 30px;
}

.album-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  border: 1px solid white;
  padding: 15px;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.gallery-text {
  border: 1px solid #fff;
  padding: 10px;
  color: white;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: rgba(100,100,100,0.3);
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
}

.album-cover a:hover {
  .overlay {
    opacity: 0;
  }
}

.album-photo {
  margin-bottom: 15px;
}

@media (max-width: 679px) {
  .page-cover-text-box > h1 {
    font-size: 18px;
  }
}
