.service {
  padding: 15px;
  padding-bottom: 75px;
  border: 1px solid black;
  background-color: #fff;
  min-height: 350px;
}

.service-price {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
}

.services {
  margin-bottom: 30px;
}

.service-header {
  padding: 15px;
  background-color: #000;
}

.header-text {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.service-col {
  padding-top: 15px;
}

.services-sub-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.services-sub-menu li {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.services-sub-menu li.active {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}

.services-sub-menu ul {
  background-color: #efefef;
}

#cat-1, #cat-2, #cat-3 {
  display: none;
}

.service ul li {
  font-size: 16px;
}

.wannabe-active {
  background-color: rgba(0, 0, 0, 0.1);
}

.active-hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}

@media (max-width: 741px) {
  .services-sub-menu li {
    display: block;
  }
}
