<div class="navbar-default sidebar" role="navigation">
   <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">

        <li>
         <%= link_to admin_albums_path do %>
           <%= fa_icon 'folder-o' %> Альбомы
         <% end %>
        </li>

        <li>
         <%= link_to admin_slides_path do %>
           <%= fa_icon 'picture-o' %> Слайдеры
         <% end %>
        </li>

        <li>
         <%= link_to admin_pages_path do %>
           <%= fa_icon 'align-left' %> Страницы
         <% end %>
        </li>

        <li>
         <%= link_to admin_services_path do %>
           <%= fa_icon 'align-left' %> Пакеты услуг
         <% end %>
        </li>

        <li>
         <%= link_to admin_feedbacks_path do %>
           <%= fa_icon 'comments' %> Отзывы
           <% if Feedback.where(published: false).present? %>
             <%= fa_icon 'exclamation', style: 'color: red' %>
           <% end %>
         <% end %>
        </li>

        <li>
         <%= link_to admin_instagram_index_path do %>
           <%= fa_icon 'instagram' %> Instagram
         <% end %>
        </li>

      </ul>
   </div>
</div>
