html {
  height: 100%;
}
html body {
  height: 100%;
}
html body .carousel {
  height: 70%;
}
html body .carousel .carousel-inner {
  height: 100%;
}
html body .carousel .carousel-inner .item {
  height: 100%;
}
html body .carousel .carousel-inner .item .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.carousel-control .icon-next:before {
  font-family: FontAwesome;
  content: "\f054"
}

.carousel-control .icon-prev:before {
  font-family: FontAwesome;
  content: "\f053"
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.left.carousel-control, .right.carousel-control,
.carousel-indicators {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

#slider:hover .left.carousel-control, #slider:hover .right.carousel-control,
#slider:hover .carousel-indicators {
  opacity: 1;
}


@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}