.footer {
  padding: 40px 40px;
  color: rgba(255,255,255,1.00);
  margin-bottom: 20px;
  color: #000;
}
.footer .footer-brand, .footer .footer-nav, .footer .footer-social, .footer .footer-ns { padding:10px 25px; }
.footer .footer-nav, .footer .footer-social, .footer .footer-ns { border-color: transparent; }
.footer .footer-brand h2 { margin:0px 0px 10px; }
.footer .footer-brand p { font-size:12px; color: #000; }

.footer .footer-nav ul.pages { list-style:none; padding:0px; }
.footer .footer-nav ul.pages li { padding:5px 0px;}
.footer .footer-nav ul.pages a { color: #000; font-weight:bold; text-transform:uppercase; }
.footer .footer-nav ul.pages a:hover { color:#b546b9; text-decoration:none; }
.footer .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom:10px;
}

.footer .footer-nav ul.list { list-style:none; padding:0px; }
.footer .footer-nav ul.list li { padding:5px 0px;}
.footer .footer-nav ul.list a { color:#000; }
.footer .footer-nav ul.list a:hover { color:#b546b9; text-decoration:none; }

.footer .footer-social ul { list-style:none; padding:0px; }
.footer .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer .footer-social li { padding:5px 4px;}
.footer .footer-social a { color:#000;}
.footer .footer-social a:hover { color:#b546b9; text-decoration:none; }

.footer .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom:10px;
}

.footer a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .footer-ns p { font-size:12px; color:#000; }

.footer .fa {
  font-size: 24px;
}

@media (min-width: 768px) {
  .footer .footer-nav, .footer .footer-social, .footer .footer-ns { border-left:solid 1px #efefef; }
}