.navbar {
  background-color: #fff;
  border: none;
  border-radius: 0;
  z-index: 1001;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.2);
  -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.2);
  box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.2);
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.logo-wrapper {
  height: 165px;
  background-color: #fff;
}

.logo-container {
  display: table;
  width: 100%;
  height: 100%;
}

.logo-align {
  display: table-cell;
  vertical-align: middle;
  height: 155px;
  text-align: center;
}
.logo-wrapper img {
  height: 100%;
  width: auto;
  vertical-align: top;
  margin-top: 10px;
}

.navbar-brand {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-toggle .icon-bar {
  background-color: #000;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.navbar-toggle {
  border: 1px solid #000;
  border-radius: 0;
  padding: 13px 9px;
}

.nav > li > a:hover, .nav .open > a:hover,
.nav .open > a:focus, .nav .open > a {
  letter-spacing: 2px;
  color: #B546B9;
  background-color: transparent;
}

.nav > li > a {
  letter-spacing: 2px;
  color: #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.2);
  -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.2);
  box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.2);
}

.dropdown-menu > li > a {
  letter-spacing: 2px;
  color: #000;
  font-size: 12px;
  font-weight: inherit;
}

.social li a {
  width: auto !important;
  padding-right: 0;
  font-size: 22px !important;
}

.dropdown ul hr {
  margin: 5px;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.container-fluid .navbar-header {
  text-align: center;
}

@media (min-width: 768px) {

  .navbar > .container-fluid .navbar-brand {
    margin-left: 35px;
  }

  .container-fluid > .navbar-collapse {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 133px;
    text-align: center;
    font-size: 13px;
  }

  .navbar-form {
    margin-top: 22px;
  }

  .dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
  }

  .dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: transparent;
    color: #B546B9;
  }

}

@media (max-width: 816px) {
  .social {
    display:none;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .navbar-collapse .dropdown .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    display:block;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .navbar-nav .dropdown-menu > li > a {
    line-height: 20px;
  }

  .navbar-nav .dropdown-menu > li > a, .navbar-nav .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
}

// fix menu for tablets
@media (min-width: 768px) and (max-width: 800px) {
  .navbar-nav > li > a {
    width: 121px;
    font-size: 11px;
  }
}
