<%= render partial: 'admin_partials/page_heading', locals: { heading: "Instagram" } %>

<div id="flash">
  <%= render partial: 'front_partials/flash_messages' %>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Instagram
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">

            <%= link_to 'Войти в Instagram', Instagram.authorize_url(client_id: ENV['instagram_client_id'], redirect_uri: ENV['instagram_redirect_uri']), class: 'btn btn-success' %>

            <%= link_to 'Обновить фотографии вручную', admin_instagram_update_photos_manually_path, remote: true, class: 'btn btn-primary update-photos' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
