<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <% if current_admin %>
      <title>Admin panel | <%= current_admin.name + ' ' + current_admin.last_name %> </title>
    <% else %>
      <title>Admin panel</title>
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>

  <body>

    <%- if current_admin %>

      <div id='wrapper'>
        <%= render 'admin_partials/navigation' %>
        <div id='page-wrapper'>
          <%= yield %>
        </div>
      </div>

    <% else %>

      <%= yield %>

    <% end %>

  </body>
</html>
