<!DOCTYPE html>
<html>
  <head>
    <%= render 'front_partials/analytics'  %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'front_partials/navigation_bar' %>
    <%= yield %>
    <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i> наверх</a>
    <%= render 'front_partials/footer' %>
    <div class="loading-icon"></div>
  </body>
</html>
